# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak

# Wazuh
wazuh-install-files.tar

# Certificates
*.pem
*.key
*.crt

# Secrets
passwords.txt
.env
# Threat Intelligence
.env

